.background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsl(209.19deg 100% 21.76%);
  z-index: -1;
  overflow: hidden;
}

.background-wrapper img {
  width: 10%;
  position: absolute;
  animation: xAnimation 3.5s infinite;
}

.background-wrapper img.oImg {
  animation: oAnimation 3.5s infinite;
}

.background-wrapper img.xImg {
  animation: xAnimation 8s infinite;
}

@keyframes oAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }

  25% {
    transform: rotate(30deg) scale(1);
  }

  50% {
    transform: rotate(30deg) scale(1.2);
  }

  75% {
    transform: rotate(60deg) scale(1.2);
  }

  100% {
    transform: rotate(60deg) scale(1);
  }
}

@keyframes xAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }

  17% {
    transform: rotate(90deg) scale(1);
  }

  25% {
    transform: rotate(90deg) scale(1.2);
  }

  42% {
    transform: rotate(180deg) scale(1.2);
  }

  50% {
    transform: rotate(180deg) scale(1);
  }

  67% {
    transform: rotate(270deg) scale(1);
  }

  75% {
    transform: rotate(270deg) scale(1.2);
  }

  92% {
    transform: rotate(360deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}
