/* Some customized values */
* {
  box-sizing: border-box;
  /* Media queried */
  --BIG-FONT-SIZE: 4rem;
  --MID-FONT-SIZE: 2.5rem;
  --SMALL-FONT-SIZE: 2rem;
  --MIN-PLAYZONE-WIDTH: 500px;
  --PLAYZONE-NAV-HEIGHT-RATIO: 4;
}

:root,
body {
  padding: 0;
  margin: 0;
}

body {
  border: solid red 3px;
  width: 100vw;
  height: 100vh;
}

div.container {
  max-width: min(50%, 600px);
  min-width: var(--MIN-PLAYZONE-WIDTH);
  height: 100%; /* Not sure */
  max-height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid blue 3px;
}

nav.navbar {
  font-size: clamp(var(--SMALL-FONT-SIZE), 4.5vmin, var(--BIG-FONT-SIZE));
  text-decoration: underline;
  width: 100%;
  margin-top: 5%;
  padding: 0 5%;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid green 3px;
}

nav.navbar > h1.title {
  margin-right: auto;
  border: solid red 3px;
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;
}

nav.navbar button {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

nav.navbar button:not(:last-child) {
  margin-right: 3%;
}

nav.navbar button:hover {
  background-color: green;
}

ion-icon {
  font-size: clamp(var(--MID-FONT-SIZE), 5vmin, var(--BIG-FONT-SIZE));
  margin: 0 auto;
}

div.playzone {
  flex: var(--PLAYZONE-NAV-HEIGHT-RATIO) var(--PLAYZONE-NAV-HEIGHT-RATIO) 0;
  border: solid red 3px;
}
