@font-face {
  font-family: belanosima;
  src: url(./font/Belanosima-SemiBold.ttf);
}

/* Some customized values */
* {
  box-sizing: border-box;
  /* Media queried */ /* Adjust later */
  --BIG-FONT-SIZE: 4rem;
  --MID-FONT-SIZE: 2.5rem;
  --SMALL-FONT-SIZE: 2rem;
  --MIN-PLAYZONE-WIDTH: 500px;
  --PLAYZONE-NAV-HEIGHT-RATIO: 4;
}

:root,
body {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

div.container {
  width: max(40%, 400px);
  height: max(90%, 400px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.navbar {
  font-size: clamp(16px, 4.5vmin, 48px);
  text-decoration: underline;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-icon {
  font-size: clamp(16px, 5.5vmin, 48px);
  margin: 0 auto;
}

nav.navbar > h1.title {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 50%;
  font-family: belanosima;
}

nav.navbar button {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: none;
  width: 10%;
  border: solid purple 3px;
  aspect-ratio: 1 / 1;
}

nav.navbar button:not(:last-child) {
  margin-right: 3%;
}

nav.navbar button:hover {
  background-color: green;
}

div.playzone {
  flex: var(--PLAYZONE-NAV-HEIGHT-RATIO) var(--PLAYZONE-NAV-HEIGHT-RATIO) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.playzone > .row {
  display: flex;
  flex-direction: row;
  height: 30%;
  aspect-ratio: 3 / 1;
}

.cell {
  border: solid rgb(122, 155, 73) 5px;
  border-radius: 5px;
  flex: 1 1 auto;
}

.row:first-child .cell {
  border-top: transparent;
}

.row:last-child .cell {
  border-bottom: transparent;
}

.cell:first-child {
  border-left: transparent;
}

.cell:last-child {
  border-right: transparent;
}

.cell {
  position: relative;
}

.cell > img {
  display: inline-block;
  position: absolute;
  width: 100%;
}
